#custom{
    float: left;
    position: absolute;
    left: 40px;
    top: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
    
}
body{
    background-color: rgb(10, 10, 10);
    background-size: cover;

}
.don{
    padding:0;
    margin: 0%;
    color:rgb(10, 10, 10);
    text-align: center;
    text-shadow: rgb(246, 242, 35) 2px 2px;
    font-weight: bolder;
    font-size: 60px;
    font-weight: bolder;
   
}
.input{
      align-items:center;
      justify-content: center;
      text-align: center;
      margin: auto;
      display: block;
     
      
      }
.back{
    margin: auto;
    position: absolute;
    left: 30px;
    top: 400px;
    width: 100px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(14, 159, 172);
    color: rgb(10, 9, 9);
    box-shadow: #666;
    
}
.next{
    margin: auto;
    position: absolute;
    left: 380px;
    top: 400px;
    float: right;
    width: 100px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(14, 159, 172);
    color: rgb(10, 9, 9);
    box-shadow: #666;
}
.quote{
    float: right;
    padding:0;
    margin: 0%;
    color:rgb(6, 177, 250);
    text-align: center;
    justify-content: center;
    text-shadow: rgb(233, 59, 91) 2px 2px;
    width: 500px;
    font-size: 60px;
    position: absolute;
    top: 80px;
    right: 150px;
    line-height: 100px;

}
#amount{
    line-height:40px;
    width: 200px;
    size: 30px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}
.custom{
    border: 3px solid #edeef3;
    width: 500px;
    height:300px;
    background-color: rgb(8, 105, 241);
    
}
.back:hover {background-color: #17eb3e}
.next:hover {background-color: #17eb3e}
.custom:hover {background-color:white}
@media only screen and (max-width: 900px) {
    .quote{
    
        font-size: 40px;
        position: absolute;
        top: 600px;
        left: 7px;
        line-height: 100px;
    
    }
    .don{
    
        font-weight: bolder;
        font-size: 40px;
           }
    .input{
          align-items:center;
          justify-content: center;
          text-align: center;
          margin: auto;
          display: block;
            }
    .back{
        margin: auto;
        position: absolute;
        left: 40px;
        top: 400px;
        width: 100px;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
        background-color: rgb(14, 159, 172);
        color: rgb(10, 9, 9);
        box-shadow: #666;
        
    }
    .next{
        margin: auto;
        position: absolute;
        left: 265px;
        top: 400px;
        float: right;
        width: 100px;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
        background-color: rgb(14, 159, 172);
        color: rgb(10, 9, 9);
        box-shadow: #666;
    }
    #amount{
        line-height:40px;
        width: 200px;
        size: 30px;
        font-weight: bold;
        font-size: x-large;
        text-align: center;
    }
    .custom{
        border: 3px solid #f4f4f4;
        width: 400px;
        height:300px;
    }
    
  }
  

